.track {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgb(155, 154, 154);
  width: 100%;
}

.trackContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  padding-right: 1rem;
  color: white;
}

.trackTitle {
  font-size: large;
  color: white;
}

.trackSubtitle {
  font-size: small;
  color: rgb(155, 154, 154);
  margin-bottom: 10px;
}

.trackIcon {
  width: 15px;
  height: 15px;
  color: white;
}

.trackIcon:hover {
  cursor: pointer;
  color: rgb(134, 134, 134);
}
